<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765628061481-ncmplc6e4g74rvdeonmtefdio2klqrfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765628061481-ncmplc6e4g74rvdeonmtefdio2klqrfc</string>
	<key>API_KEY</key>
	<string>AIzaSyAYI_eN9LaLTYL7_hXOtYk6NTnGP2Gul3A</string>
	<key>GCM_SENDER_ID</key>
	<string>765628061481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basmasaidbs.EcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-5fc1e</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-5fc1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765628061481:ios:0b1cbaa047c0df17ac8938</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerceapp-5fc1e.firebaseio.com</string>
</dict>
</plist>